<html>
	<head>  
		<title>Directive Demo</title>  
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
	</head>
	<body class="jumbotron container">
		<div>
			<h3>List of Sale Items.</h3>
			<!-- Start of sale -->
			<div>
				<div class="panel panel-default">
					<div class="panel-heading">
							Published at:<span></span> &nbsp;Promotion: Christmas-Sale<button class="pull-right" >Buy me</button>
				</div>
				<div class="panel-body">
					Name:<span></span>
					Condition:<span></span>
					Price:<span></span>
					Brand:<span></span>
				</div>
			</div>
			<div>
				<span style="color:green"> Thanks for buying this item </span> 
			</div>
			<!-- end of sale -->
		</div>
		</div>
      
        
	</body>
</html>