<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
   
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
 
</head>
<body>

    <div class="container">
        <h1> Country/State Select Example</h1><hr/>
        <div class="form-group">
            Select Country : <select required name="country" class="form-control">
                <option value="select"> {{country}}</option>
            </select> 
        </div>
       <div class="form-group">
           Select State : <select class="form-control">
           <option></option>
           </select>
       </div>
        <div>
        Selected Country : {{selectedCountry}} <br/>
        Selected State : {{selectedState}}
        </div>
        
    </div>

</body>
</html>
